<% unless open_house_listings.empty? %>
  <div class="container">
    <div class="jumbopad">
        <div class="page-header featured-listings">
          <h1>Open House</h1>
        </div>
        <% open_house_listings.each do |listing|%>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-5">
                <% unless listing.images.empty? %>
                  <%= link_to image_tag(listing.images.first.image_file.url(:medium)), listing_details_path(listing), onclick: "ga('send', 'event', 'open_house_feature', 'click', 'listing_image_#{listing.id}');" %>
                <% end %>
                <%= link_to "View Open House", listing_details_path(listing),class: "btn btn-primary btn-lg col-xs-12", onclick: "ga('send', 'event', 'open_house_feature', 'click', 'link_to_view');" %>
              </div>
              <div class="col-md-7">
                <ul class="list-group listing-details">
                    <li class="list-group-item lead">Date: <%= listing.open_house_date_time.strftime("%l:%M %p") %></li>
                    <li class="list-group-item lead">Time: <%= listing.open_house_date_time.strftime("%B %e, %Y %A") %></li>
                    <li class="list-group-item lead">Address: <%= listing.address %></li>
                    <li class="list-group-item lead">Price: <%= value_tag(number_to_currency(listing.price, unit: "$"))  %> </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
</div>
<% end %>
