<% title "Listing - " + @listing.full_address %>
<% description @listing.description %>
<% keywords "#{@listing.area}, #{@listing.full_address}, #{@listing.bathrooms} bathrooms, #{@listing.bedrooms} bedrooms, #{@listing.property_type}, #{@listing.style}, #{@listing.year_built}, #{@listing.agent.to_s}," %>
<% site_image @listing.images.first.image_file.url(:medium) %>

<div class="container">
  <div class="page-header">
    <h1><%= @listing.full_address %></h1>
  </div>

  <div class="row">
    <div class="col-sm-4 listing-images-carousel">
      <div class="camera_wrap camera_magenta_skin" id="camera_wrap_2">
        <% @listing.images.each do |image| %>

          <div data-thumb=<%= image.image_file.url(:small) %> data-src=<%= image.image_file.url(:medium) %>>
          </div>
        <% end %>


      </div>  

    </div>

    <div class="col-sm-8">
      <div class="panel panel-default panel-listing-details">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">

          <div class="row listing-detail-row">
            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Area", "label-listing-detail") %>
              <%= value_tag(@listing.area) %> 
            </div>

            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Property Type", "label-listing-detail") %>
              <%= value_tag(@listing.property_type) %> 
            </div>

            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Style", "label-listing-detail") %>
              <%= value_tag(@listing.style) %> 
            </div>

          </div>

          <div class="row listing-detail-row">
            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Price", "label-listing-detail") %>
              <%= value_tag(number_to_currency(@listing.price, unit: "$")) %> 
            </div>

            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Bedrooms", "label-listing-detail") %>
              <%= value_tag(@listing.bedrooms) %> 
            </div>

            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Bathrooms", "label-listing-detail") %>
              <%= value_tag(@listing.bedrooms) %> 
            </div>
          </div>

          <div class="row listing-detail-row">
            <div class="col-sm-4 listing-detail-item">
              <%= label_tag("Year Built", "label-listing-detail") %>
              <%= value_tag(@listing.year_built) %> 
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group listing-details">
            <li class="list-group-item"><%= @listing.agent.to_s %></li>
            <li class="list-group-item"><%= @listing.agent.email %></li>
            <li class="list-group-item"><%= number_to_phone(@listing.agent.phone, country_code: 1) %></li>
          </ul>
          <button type="button" class="btn btn-default listing-inquire" data-toggle="modal" data-target="#contact-modal">Inquire about this listing</button>

        </div>
      </div>
    </div>
    <div class="col-sm-8">
          <div class="well">
            <p><%= @listing.description %></p>
          </div>  

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body">


          <div id="map_canvas"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'home/contact_form', locals: {selected_listing: @listing} %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type='text/javascript' src='/assets/jquery-plugins/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='/assets/jquery-plugins/jquery.easing.1.3.js'></script> 
<script type='text/javascript' src='/assets/jquery-plugins/camera.min.js'></script> 
  
<script>
  jQuery(function(){

    jQuery('#camera_wrap_2').camera({
      height: '300px',
      loader: 'bar',
      pagination: false,
      thumbnails: true
    });
  });
</script>



<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var lat_lang = new google.maps.LatLng(<%= @listing.latitude %>, <%= @listing.longitude %>)

  function initialize() {
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
      center: lat_lang,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)

    var marker = new google.maps.Marker({
        position: lat_lang,
        map: map,
        title: 'Hello World!'
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>