<div class="well">
  <% listings ||= nil ; selected_listing ||= nil ; agent_id = nil%>
  <form class="bs-example form-horizontal">
    <fieldset>
      <% if agent_id %>
        <input type="hidden" name="agent_id" value="<%= agent_id%>" />
      <% end %>
      
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Send Email Updates
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Textarea</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">Enter general or specific comments about property requested</span>
        </div>
      </div>
      <% if listings %>
        <div class="form-group">
          <label for="property" class="col-lg-2 control-label">Property</label>
          <div class="col-lg-10">
            <select class="form-control" id="property">
              <% listings.each do |listing| %>
                <option value="<%= listing.id %>"><%= listing.address %></option>
              <% end %>
            </select>
            <br>
          </div>
        </div>

       <% elsif selected_listing %>
        <div class="form-group">
          <label for="property" class="col-lg-2 control-label">Property</label>
          <div class="col-lg-10">
            <select class="form-control" id="property" disabled>
              <option value="<%= selected_listing.id %>"><%= selected_listing.address %></option>
            </select>
            <br>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-primary">Cancel</button> 
          <button type="submit" class="btn btn-success">Submit</button> 
        </div>
      </div>
    </fieldset>
  </form>
</div>