  <% if flash[:success] %>
    <div class="alert alert-success">
      <strong>Thank you!</strong> The form has been submitted, we'll get back to you as soon as possible.
    </div>
  <% end %>

<div class="well col-md-10">

  <% listings ||= nil ; selected_listing ||= nil %>

  <%= form_for @inquiry, url: {controller: "home", action: "contact"}  do |f| %>
    <fieldset>
      <div class="form-group col-md-6">
        <%= f.label :name %>
        <%= f.text_field :name, { class: "form-control", placeholder: "Name" } %>
      </div>

      <div class="form-group col-md-6">
        <%= f.label :phone %>
        <%= f.text_field :phone, { class: "form-control", placeholder: "Phone" } %>
      </div>
      <div class="contact-add-padding">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, { class: "form-control", placeholder: "Email" } %>
        </div>
        
        <div class="form-group">
          <%= f.label :comment %>
          <%= f.text_area :comment, { class: "form-control", rows: 3, placeholder: "Comment" } %>
        </div>

        <% if listings %>
          <div class="form-group">
            <label for="listing_id" class="col-lg-2 control-label">Property</label>
            <%= collection_select :inquiry, :listing_id, Listing.all, :id, :address, { include_blank: "Choose Listing..."}, {class: "form-control"}%>
          </div>
         <% elsif selected_listing %>
          <div class="form-group">
            <label for="listing_id" class="control-label">Property</label>
            <select class="form-control" name="listing_id" disabled>
                <option value="<%= selected_listing.id %>"><%= selected_listing.address %></option>
              </select>
          </div>
        <% end %>
        <div class="form-group"> 
          <%= f.submit "Reset", type: "reset", class: "btn btn-default" %>
          <%= f.submit "Send", class: "btn btn-primary" %>

        </div>
      </div>
    </fieldset>
    <%= hidden_field :inquiry, :agent_id %>
  <% end %>
</div>