<% if !flash.empty? %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "alert alert-#{key}") %>
  <% end %>
<% end %>

<div class="well col-md-12">
  <% listings ||= nil ; selected_listing ||= nil %>

  <%= simple_form_for @inquiry, url: {controller: "home", action: "contact"}, validate: true do |f| %>
    <fieldset>
      <%= f.input :name, input_html: {class: "form-control"}, placeholder: "Name",wrapper_html: {class: 'col-md-6'}  %>
      <%= f.input :phone, input_html: {class: "form-control"}, placeholder: "Phone", wrapper_html: {class: 'col-md-6'}  %>

      <div class="contact-add-padding">
        <%= f.input :email, input_html: {class: "form-control"}, placeholder: "Email" %>
        <%= f.input :comment, input_html: {class: "form-control"}, placeholder: "Message" %>

        <% if listings %>
          <%= f.input :listing, input_html: {class: "form-control"}, collection: listings, text_method: :address, value_method: :id, include_blank: "Choose Listing..." %>
         <% elsif selected_listing %>
          <%= f.input :listing, input_html: {class: "form-control"}, collection: [selected_listing], text_method: :address, value_method: :id, selected: selected_listing.id, disabled: true %>
        <% end %>

        <div class="form-group">  
          <%= button_tag(type: 'reset', class: "btn btn-default") do %>
           <i class="glyphicon glyphicon-repeat"></i> Reset
          <% end %>

          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
           <i class="glyphicon glyphicon-send"></i> Send
          <% end %>

        </div>
      </div>
    </fieldset>
    <%= hidden_field :inquiry, :agent_id %>
  <% end %>
</div>