<div class="container">
  <div class="page-header">
    <h1>Our Team</h1>
  </div>
  
    <% @agents.each do |agent| %>
      <div class="row agent">
        <div class="col-sm-3 agent-picture">
          <img src="<%= agent.avatar.url %>" style="width: 100%; height:100%" />
          <a class="btn btn-large btn-default contact-agent" data-toggle="modal" data-target="#contact-modal" data-agent-id=<%= agent.id %> href="#" style="width: 100%;">Contact Me</a>
        </div>

        <div class="col-sm-9 agent-description">
          <h1><%= agent.to_s%></h1>
          <div class="well">
          <p><%= agent.description %></p>
          </div>

          <ul>
            <li class=""><i class="glyphicon glyphicon-phone-alt"></i><%= number_to_phone(agent.phone, country_code: 1) %></li>
            <li> <i class="fa fa-facebook-square fa-lg"></i>Facebook </li>
            <li> <i class="fa fa-twitter fa-lg"></i>Facebook </li>
            <li> <i class="fa fa-linkedin fa-lg"></i>Facebook </li>
          </ul>
          
        </div>
      </div>
    <% end %>
    

  



</div>

<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact_form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->